SGE_ROOT="/opt/sge"
SGE_QMASTER_PORT="6444"
SGE_EXECD_PORT="6445"
CELL_NAME="default"
ADMIN_USER="sgeadmin"
SGE_CLUSTER_NAME="bioinformatics_450a5914-cf17-4d04-a38a-aec7cbb14303"
QMASTER_SPOOL_DIR="/opt/sge/default/spool/qmaster"
EXECD_SPOOL_DIR="/opt/sge/default/spool/execd"
HOSTNAME_RESOLVING="true"
SHELL_NAME="ssh"
COPY_COMMAND="scp"
DEFAULT_DOMAIN="none"
ADMIN_MAIL="none"
ADD_TO_RC="true"
SET_FILE_PERMS="true"
RESCHEDULE_JOBS="wait"
SCHEDD_CONF="1"
SHADOW_HOST=""
EXEC_HOST_LIST_RM=""
REMOVE_RC="true"
WINDOWS_SUPPORT="false"
WIN_ADMIN_NAME="Administrator"
WIN_DOMAIN_ACCESS="false"
GID_RANGE="50700-50800"
SPOOLING_METHOD="classic"
DB_SPOOLING_SERVER="none"
DB_SPOOLING_DIR="/opt/sge/default/spooldb"
ADMIN_HOST_LIST="e801d7ba-a084-4d70-ad2d-f0043b14899a 7df7aa81-bf13-4329-907c-9bf5dca1e3fb"
SUBMIT_HOST_LIST="e801d7ba-a084-4d70-ad2d-f0043b14899a 7df7aa81-bf13-4329-907c-9bf5dca1e3fb"
EXEC_HOST_LIST="e801d7ba-a084-4d70-ad2d-f0043b14899a 7df7aa81-bf13-4329-907c-9bf5dca1e3fb"
EXECD_SPOOL_DIR_LOCAL=""
RESCHEDULE_JOBS="wait"
SGE_ENABLE_SMF="0"
CSP_RECREATE="true"
CSP_COPY_CERTS="false"
CSP_COUNTRY_CODE="KR"
CSP_STATE="Korea"
CSP_LOCATION="Building"
CSP_ORGA="Organisation"
CSP_ORGA_UNIT="Organisation_unit"
CSP_MAIL_ADDRESS="hongiiv@gmail.com"
   