SGE_ROOT="/opt/sge"
SGE_QMASTER_PORT="6444"
SGE_EXECD_PORT="6445"
CELL_NAME="default"
ADMIN_USER="sgeadmin"
SGE_CLUSTER_NAME="bioinformatics_a33ea5db-ec81-40ac-a5ad-1ab9a39cd1af"
QMASTER_SPOOL_DIR="/opt/sge/default/spool/qmaster"
EXECD_SPOOL_DIR="/opt/sge/default/spool/execd"
HOSTNAME_RESOLVING="true"
SHELL_NAME="ssh"
COPY_COMMAND="scp"
DEFAULT_DOMAIN="none"
ADMIN_MAIL="none"
ADD_TO_RC="true"
SET_FILE_PERMS="true"
RESCHEDULE_JOBS="wait"
SCHEDD_CONF="1"
SHADOW_HOST=""
EXEC_HOST_LIST_RM=""
REMOVE_RC="true"
WINDOWS_SUPPORT="false"
WIN_ADMIN_NAME="Administrator"
WIN_DOMAIN_ACCESS="false"
GID_RANGE="50700-50800"
SPOOLING_METHOD="classic"
DB_SPOOLING_SERVER="none"
DB_SPOOLING_DIR="/opt/sge/default/spooldb"
ADMIN_HOST_LIST="1d0ad18d-79a8-4a1b-950f-558b7a33067d c31aef8b-f835-4c0d-bd4d-bef180a04766"
SUBMIT_HOST_LIST="1d0ad18d-79a8-4a1b-950f-558b7a33067d c31aef8b-f835-4c0d-bd4d-bef180a04766"
EXEC_HOST_LIST="1d0ad18d-79a8-4a1b-950f-558b7a33067d c31aef8b-f835-4c0d-bd4d-bef180a04766"
EXECD_SPOOL_DIR_LOCAL=""
RESCHEDULE_JOBS="wait"
SGE_ENABLE_SMF="0"
CSP_RECREATE="true"
CSP_COPY_CERTS="false"
CSP_COUNTRY_CODE="KR"
CSP_STATE="Korea"
CSP_LOCATION="Building"
CSP_ORGA="Organisation"
CSP_ORGA_UNIT="Organisation_unit"
CSP_MAIL_ADDRESS="hongiiv@gmail.com"
   