SGE_ROOT="/opt/sge"
SGE_QMASTER_PORT="6444"
SGE_EXECD_PORT="6445"
CELL_NAME="default"
ADMIN_USER="sgeadmin"
SGE_CLUSTER_NAME="bioinformatics_c9863ed4-0e10-4692-83d0-f2e56fd98082"
QMASTER_SPOOL_DIR="/opt/sge/default/spool/qmaster"
EXECD_SPOOL_DIR="/opt/sge/default/spool/execd"
HOSTNAME_RESOLVING="true"
SHELL_NAME="ssh"
COPY_COMMAND="scp"
DEFAULT_DOMAIN="none"
ADMIN_MAIL="none"
ADD_TO_RC="true"
SET_FILE_PERMS="true"
RESCHEDULE_JOBS="wait"
SCHEDD_CONF="1"
SHADOW_HOST=""
EXEC_HOST_LIST_RM=""
REMOVE_RC="true"
WINDOWS_SUPPORT="false"
WIN_ADMIN_NAME="Administrator"
WIN_DOMAIN_ACCESS="false"
GID_RANGE="50700-50800"
SPOOLING_METHOD="classic"
DB_SPOOLING_SERVER="none"
DB_SPOOLING_DIR="/opt/sge/default/spooldb"
ADMIN_HOST_LIST="e64051a6-1641-4c2b-b9ea-6e2274a1e10e 118d6fcc-6022-4df9-8c43-a05a53a6e034"
SUBMIT_HOST_LIST="e64051a6-1641-4c2b-b9ea-6e2274a1e10e 118d6fcc-6022-4df9-8c43-a05a53a6e034"
EXEC_HOST_LIST="e64051a6-1641-4c2b-b9ea-6e2274a1e10e 118d6fcc-6022-4df9-8c43-a05a53a6e034"
EXECD_SPOOL_DIR_LOCAL=""
RESCHEDULE_JOBS="wait"
SGE_ENABLE_SMF="0"
CSP_RECREATE="true"
CSP_COPY_CERTS="false"
CSP_COUNTRY_CODE="KR"
CSP_STATE="Korea"
CSP_LOCATION="Building"
CSP_ORGA="Organisation"
CSP_ORGA_UNIT="Organisation_unit"
CSP_MAIL_ADDRESS="hongiiv@gmail.com"
   